.profile-page {
    .user-data {
        text-align: center;
        font-size: 20px;
        color: #fafafa;
        margin-bottom: 30px;
    }

    a {
        font-size: 20px;
        margin-right: 10px;
    }
}